.main-title{
    font-weight: 700;
}

.text-empresa{
    font-size: 1em;
}

footer {
    background-color: black;
    padding: 2em 0em 0.5em 0em;
}

html {
    min-width: 280px;
}

.banner-1 {
    background-image: url(/assets/bg-banner1.png);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

.texto-visao, .texto-missao, .texto-valores {
    text-align: justify;
}